<% provide(:title, "サービス紹介") %>
<div class="static-page">
  <h2>あなたの学びをみんなと共有しよう！</h2>
  <p class="text">BookMarksは、良書との出会いを促進する書籍特化型SNSサービスです。</p>
  <hr>
  <div class="container">
    <h3>BookMarksの特徴</h3>
    <div class="row">
      <div class="col-md-4">
        <img src="/memos.png">
        <p><span>学びメモを書こう！</span></p>
        <p>気づきや学びを得た文章を引用し、学びメモとしてまとめておくことができます。</p>
      </div>
      <div class="col-md-4">
        <img src="/comments.png">
        <p><span>お気に入りのユーザーをフォローしよう！</span></p>
        <p>他のユーザーをフォローして、学びメモを共有することができます。</p>
      </div>
      <div class="col-md-4">
        <img src="/boards.png">
        <p><span>学びボードに要約をまとめよう！</span></p>
        <p>本を読んだら、学びボードに要約を書いてみましょう。理解が一層深まるはずです。</p>
      </div>
    </div>
    <hr>
    <div class="points">
      <h3>おすすめポイント</h3>
      <div class="point">
        <strong>1. メモを取ることに特化！</strong>
        <p>メモ機能に特化しているため、難しい操作は一切必要ありません。ログインして、今すぐ始めましょう！</p>
        <hr class="between-points">
      </div>
      
      <div class="point">
        <strong>2. 他人のメモを見ることができる！</strong>
        <p>他人の投稿を手軽に閲覧することができるので、読んだことのない書籍の情報も把握することができます。様々なメモを通して自分の興味が湧く書籍を探してみましょう！</p>
        <hr class="between-points">
      </div>

      <div class="point">
        <strong>3. 効率的な内容の理解が可能！</strong>
        <p>メモを取りながら本を読んでいくことで、驚くほど理解が深まります。あとから見返すことで、学んだ内容を振り返ることもできます！</p>
      </div>
    </div>
  </div>
</div>
