<% provide(:title, "お問い合わせ") %>
<div class="container">
  <div class="static-page">
    <h2>お問い合わせ</h2>
    <p class="text">お問い合わせの際は下記のアドレスまでご連絡ください。</p>
    <p class="address"><span>E-mail: </span>hisaakikato.work_gmail.com (_は@に変えてください。)</p>
    <p class="address"><span>Github: </span><a href="https://github.com/Hisaaki-Kato">@Hisaaki-Kato</a></p>
  </div>
</div>