<% @user ||= current_user %>
<div class="follow_stats">
  <a href="<%= following_user_path(@user) %>">
    フォロー (<%= @user.following.count %>)
  </a>
  <a href="<%= followers_user_path(@user) %>">
    フォロワー (<%= @user.followers.count %>)
  </a>
</div>