<li>
  <%= link_to book.title, book %>
  <%= book.image %>
  <% if logged_in? %>
    <%= render "books/read_form", book: book %>
    <% if current_user.admin? %>
      <%= link_to "delete", book, method: :delete,
                                  data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</li>