<h2>検索結果</h2>
<% books.each do |book| %>
  <%= link_to new_book_path(title: book[0], image: book[1]) do %>
    <table class="jumbotron">
      <tr>
        <td rowspan='2'><img class="book-img" src="<%= book[1] %>"></td>
        <td><%= book[0] %></td>
      </tr>
      <tr>
        <td><%= book[2] %></td>
      </tr>
    </table>
  <% end %>
<% end %>
