<div class="micropost-content">
  <p class="quoted_text">"<%= micropost.quoted_text %>"</p>
  <p class="content"><%= micropost.content %></p>
  <p class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %>前に投稿されました。
  </p>
</div>