<span class="like-stats">
  <span><img src="/comments.png" class="comments-logo">:</span>
  <span id="comments_<%= micropost.id %>"><%= micropost.comments.count %></span>
  <span><img src="/likes.png" class="likes-logo">:</span>
  <span id="likes_<%= micropost.id %>"><%= micropost.likes.count %></span>
</span>