<div class="slick_div">
  <ul class="slick_slider">
    <li><a href="#"><img src="/slider_top.png" alt="top"></a></li>
    <li><a href="#"><img src="/slider_memos.png" alt="memos"></a></li>
    <li><a href="#"><img src="/slider_boards.png" alt="boards"></a></li>
    <li><a href="#"><img src="/slider_comments.png" alt="comments"></a></li>
  </ul>
</div>

<script>
  $('.slick_slider').slick({
    autoplay:true,
    autoplaySpeed:3000,
    arrows:false,
    variableWidth:true,
    centerMode:true,
  });
</script>