$gray-medium-light: #eaeaea;
$gray-lighter: #bebebe;
$light-green: #ade597;

.board {
  border: 3px solid $light-green;
  border-radius: 30px;
  margin-bottom: 20px;

  li {
    list-style: none;

    .book {
      img {
        max-width: 100px;
      }
      .btn {
        display: none;
      }
    }

    .title {
      text-align: center;
      margin-top: 10px;
      background: linear-gradient(transparent 50%, $light-green 80%);
    }
    .content {
      padding: 5px 10px;
      background-color: $gray-medium-light;
    }

    .board-links {
      margin-left: 10px;
      margin-bottom: 10px;
      img {
        width: 25px;
        margin-bottom: 3px;
        margin-right: 3px;
        margin-left: 10px;
      }
      
    }
  }
}
#boards {
  .boards {
    padding: 0;
  }
}

/* 新規作成 */
.board-form {
  form {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid $gray-lighter
  }
  .field {
    margin: 10px 20px;
    textarea {
      height: 200px;
      font-size: 15px;
      padding: 8px 10px;
    }
  }
  .btn {
    width: 80%
  }
}

/* 編集画面 */
#board-edit-form {
  margin: 40px 10px;
  
  input {
    width: 80%;
    border-radius: 5px;
  }
  textarea {
    width: 500px;
    height: 500px !important;
  }
  .btn {
    width: 80%;
  }
}