// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.book-img {
  width: 150px;
  margin: 5px;
  #new_form {
    width: 300px;
  }
}

.in-microposts {
  width: 60px;
}