$gray-medium-light: #faf9f9;
$gray-lighter: #bebebe;
$light-green: #ade597;
$medium-green: rgb(44, 172, 71);

.book {
  margin: 20px;
}

.book-title {
  margin: 0;
}
.book-img {
  width: 150px;
  #new_form {
    width: 300px;
  }
}

.in-microposts {
  width: 100px;
}

/* 人気の書籍 */
.popular-books {
  margin-right: 20px;
  border: 20px;
  padding: 10px;
  background-color: $gray-medium-light;
  h1 {
    text-align: center;
    padding-top: 10px;
    border-bottom: 2px solid $medium-green;
    #ranking-logo {
      width: 30px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  #search-other-books {
    text-align: right;
    margin-right: 20px;
    a {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 3px 1px #007bff inset!important;
      color: #007bff;
      padding: 5px 10px;
    }
  }
  .book {
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-lighter;
    p {
      margin-bottom: 4px;
    }
  }
}

/* newページ */
.books-new-form {
  .btn {
    margin: 0 10px;
  }
}

#books-new-container {
  margin: 30px 0;
  .card {
    margin-bottom: 10px;

    img {
      width: 100%;
    }

    .card-body {
      padding: 5px 10px;
      min-height: 70px;
    }
  }
  .book-selected {
    margin-left: 30px;
    .selected {
      max-width: 300px;
    }
    .btn {
      width: 100%;
      margin-bottom: 0;
    }
  }
}

/* showページ */ 
.bookpage-nav-tab {
  margin-top: 30px;
  text-align: center;
  ul {
    display: inline-block;
    li {
      float: left;
    }
  }
}

#bookTabContent {
  .for-blank {
    margin: 10px 30px;
  }
}

/* ログインしていない場合 */ 
#not-logged-in-book-memos {
  margin-top: 30px;
}