@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$gray-lighter: #bebebe;
$light-green: #ade597;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin placeholder($color) {
  &::placeholder {
    color: $color;
  }

  // IE
  &:-ms-input-placeholder {
    color: $color;
  }

  // Edge
  &::-ms-input-placeholder {
    color: $color;
  }
}

/* general */ 
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  margin-top: 20px;
}


/* header */
header {
  background-color: white;
  border-bottom: 5px solid $light-green;
  .header_logo {
    .logo-image {
      width: 40px;
      margin-right: 15px;
    }
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    a {
      color: rgb(0, 0, 0);
    }
    a:hover {
      color: $gray-lighter;
      text-decoration: none;
    }
  }

  #header-input-group {
    padding-right: 30px;
    .form-control {
      border-color: $light-green;
      border-radius: 5px;
      box-shadow: 0 0 3px 1px $gray-lighter inset!important;
      @include placeholder($gray-lighter);
    }

    #search-icon {
      position: absolute;
      width: 40px;
      margin: 0;
      padding: 5px;
    }
  }

  .header-login-form {
    
    #header-signin {
      width: 100%;
      margin-bottom: 3px;
      padding: 3px;
    }
    #header-login {
      width: 100%;
      padding: 3px;
    }
  }
}


/* header-dropdown */ 
.menu {
  position: relative;
  p {
    margin: 0;
  }
  img {
    padding: 0 2px;
    padding-bottom: 3px;
    width: 25px;
  }
  li {
    list-style: none;
  }

  .menu-dropdown {
    position: absolute;
    right: 0;
    padding: 40px 30px;
    margin: 0;
    width: 200px;
    background-color: $white;
    border: 1px solid $gray-medium-light;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    visibility: hidden;
    opacity: 0;
    li {
      margin: 5px 0;
    }
    #logout-btn {
      margin-top: 10px;
      border-top: 1px solid $gray-lighter;
    }
  }
}
.menu:hover {
  .menu-dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    box-shadow: 0 0 3px 1px $gray-lighter;
    a:hover {
      color: $gray-lighter;
    }
  }
}

#header-user-icon {
  border-bottom: 1px solid $gray-lighter;
  img {
    width: 30px;
  }
  span {
    font-size: 20px;
  }
}


/* footer */
footer {
  display: block;
  width: 100%;
  background-color: black;
  p {
    margin: 0;
    color: white;
  }
  
} 

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $gray-lighter;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  input {
    @extend .is-invalid;
  }
  .form-control {
    color: red;
  }
}


/* miscellaneous */

.debug_dump {
  background-color: $gray-medium-light;
  clear: both;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

