// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* microposts */

$gray-medium-light: #eaeaea;
$gray-lighter: #bebebe;
$gray-darker: #b6b6b6;
$light-green: #ade597;

.col-md-8 {
  h1 {
    text-align: center;
  }
  /* ページネーション */ 
  ul.pagination {
    position: relative;
    left: 36%;
    li {
      text-align: center;
      padding: 5px;
      border-top: 1px solid $gray-lighter;
      border-bottom: 1px solid $gray-lighter;
    }
    li.active {
      width: 36px;
      height: 36px;
      background-color: $light-green;
      border-radius: 20px;
      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px;
    border-top: 1px solid #e8e8e8;
  }
  .micropost-content {
    p {
      display: block;
      margin: 0;
      padding-left: 20px;
    }
    .quoted_text {
      color: $gray-darker;
      font-style: italic;
    }
    .timestamp {
      padding-left: 0;
      text-align: right;
      font-size: 10px;
      color: $gray-lighter;
    }
  }
  
  .like-stats {
    padding-top: 20px;
    img {
      width: 20px;
      margin-right: 5px;
      margin-left: 10px;
    }
    .likes-logo {
      padding-bottom: 3px;
    }
  }

  .delete-link {
    margin-top: 20px;
    img {
      width: 20px;
      margin-right: 5px;
      margin-left: 10px;
      padding-bottom: 3px;
    }
  }

  .like-form {
    span {
      background: linear-gradient(transparent 70%, $gray-medium-light 70%);
      // border-radius: 10px;
      padding: 5px;
      img {
        width: 20px;
        margin-right: 5px;
        margin-left: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .col-md-3 {
    text-align: center;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}