
// micropost内
.user_picture {
  width: 50px;
  margin: 5px;
  border-radius: 50px;
}

// userページ
.name_picture{
  img {
    width: 100px;
  }
  p {
    font-size: 40px;
    font-weight: bold;
  }
}

// user_indexページ
.users {
  img {
    width: 70px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
}